
<!-- When selectedHero is undefined, the ngIf removes the hero detail from the DOM. There are no selectedHero bindings to worry about.

When the user picks a hero, selectedHero has a value and ngIf puts the hero detail into the DOM. -->

<h2>My Heroes</h2>

<div>
  <label>Hero name:
    <input #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    add
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
    (click)="delete(hero)">x</button>
  </li>
</ul>




<!-- The hero property must be an Input property, annotated with the @Input() decorator,
because the external HeroesComponent will bind to it like this.
Bind the HeroesComponent.selectedHero to the element's hero property like this.it is property binding in Angular.-->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
